@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-bg-color: #1F2937;
}

.container {
    margin: 0 15rem;
}

/*Header section*/

.nav-bar {
    background-color: #1F2937;
    padding: 1vw;
    min-width: 50%;
    max-height: 2rem;

}

.nav-bar a {
    text-decoration: none;
    color: #E5E7EB;
    transition: all 350ms;
}

.nav-bar a, #logo{
transition: color 350ms;
}
.nav-bar a:hover, #logo:hover {
    color: #e5e7eb93;
}

#logo {
    color: #F9FAF8;
    font-size: 24px;
}

.nav-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-section {
    flex: 1;
    
    display: flex;
}

.nav-bar-section:nth-of-type(2){
    display: flex;
    justify-content: flex-end;

}

.nav-bar-section:nth-of-type(2) a{
    margin-left: 20px;
}

.nav-bar-button {
    cursor: pointer;
}

/*Hero section*/

.hero {
    background-color: #1F2937;
    padding: 1vw;
}

.hero-container {
    padding: 3% 0;
    display: flex;
    flex-direction: row;
}

.hero-section {
    flex: 1;
    display:flex;
    flex-direction: column;
}

.hero-section h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-section p {
    font-size: 18px;
    color: #E5E7EB;
    margin-right: 20%;
}

.hero-button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px;
    border-radius: 5px;
    font-weight: 500;

    margin: 8px 0;

    align-self:flex-start;
}

.hero-section img {
    width: 100%;
    margin: 0 auto;
    transition: all 350ms;

    align-self: flex-end
}

.hero-section img:hover {
    filter: brightness(50%);
    cursor: pointer;
}

/*information section*/

.information-container {
    padding: 3% 0;
    
}

.information-header h1 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    
    display:flex;
    justify-content: center;
    margin: 2rem;
}

.information-section {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 18%;
    
}

.information-element {
    width: 150px;
}

.information-element p {
    margin-top: 12px;
    text-align: center;
}

.information-illustration {
    border: 3px solid #3882F6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.information-illustration img{
    width: 100%;
    object-fit: cover;
    transition: all 350ms;
}

.information-illustration img:hover {
    filter: brightness(50%);
    cursor: pointer;
}

footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    margin: 0;
    padding: 1%;
}

/*quote section*/
.quote {
    background-color: #E5E7EB;
}

.quote-container {
    margin: 0 15rem;
    padding: 3% 0;
}

.quote-container p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    margin: 0 18%;
}

.quote-container h3 {
    text-align: right;
    margin: 0 18%;
}

/*contact section*/
.contact {
    margin: 3% 0;
}

.contact-container {
    background-color: #3882F6;
    border-radius: 5px;
    
    display:flex;
    flex-direction: row;
}

.contact-section {
    flex: 1;
    display:flex;
    flex-direction: column;
    flex-basis: auto;
    margin: 3% 0;
}

.contact-section:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-basis: 1px;
}

.contact-section h3,.contact-section p {
    margin: 0 26%;
    color: #F9FAF8;
    font-size: 24px;
}
.contact-section p {
    color: #E5E7EB;
    font-size: 16px;
}

.contact-button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #F9FAF8;
    font-weight: 500;
    font-size: 18px;
}

/* General Animations */
.button {
    transition: background 350ms;
}

.button:hover {
    background-color: #141b24;
    cursor: pointer;
}